

<img src="/collections_banner.png" class="responsive-image">
<br>
<div class= "center-button"><a class ="newbutton" href="/gallery/artworks">View all artworks</a>
</div>
<br>
<div class = "center-content">
<a href="/gallery/artists/2"><img class= "banner-container" src="/realism_banner.png"></a>
<br>
<a href="/gallery/artists/1"><img class= "banner-container" src="/fauvism_banner.png"></a>
<br>
<a href="/gallery/artists/3"><img class= "banner-container" src="/expressionism_banner.png"></a>
</div>
