

<img src="/collections_banner.png" class="responsive-image">
<br>
<a class ="newbutton" href="/gallery/artworks">View all artworks</a>
<br>
<a href="/gallery/artists"><img class= "container" src="/realism_banner.png"></a>
<br>
<a href="/gallery/artists"><img class= "container" src="/fauvism_banner.png"></a>
<br>
<a href="/gallery/artists"><img class= "container" src="/expressionism_banner.png"></a>
