<h1>Add New Artwork</h1>

<div class="centered">
  <form method="POST" action="/gallery/artworks">


    <label for="title">Title</label>
    <input type="text" name="title" id="name"/>

    <label for="materials">Materials</label>
    <input type="text" name="materials" id="materials"/>

    <label for="category">Genre</label>
    <input type="text" name="category" id="category"/>

    <label for="creation_year">Year of Creation</label>
    <input type="number" name="creation_year" id="creation_year"/>

    <label for="image">Image</label>
    <input type="url" name="image" id="image"/>

    <input class ="button" type="submit" value="Add Artwork"/>

  </form>
</div>
