<h1>Add New Artist</h1>

<main class="centered">
  <form method="POST" action="/gallery/artists">

    <label for="name">Name</label>
    <input type="text" name="name" id="name"/>

    <label for="birth_year">Year of Birth</label>
    <input type="number" name="birth_year" id="birth_year"/>

    <label for="genre">Genre</label>
    <input type="text" name="art_movement" id="art_movement"/>

    <input class ="button" type="submit" value="Add Artist"/>

  </form>
</main>
