<h1>Add New Artist</h1>

<div class="centered">
  <form method="POST" action="/gallery/artists">

    <input type="text" name="name" id="name" placeholder="Name"/>

    <input type="number" name="birth_year" id="birth_year" placeholder="Year of Birth"/>

    <input type="text" name="art_movement" id="art_movement" placeholder="Genre"/>

    <input class ="button" type="submit" value="Add Artist"/>

  </form>
</div>
