
<br>

<h1><%= @artists.name() %></h1>

  <p>Born: <%= @artists.birth_year() %></p>
  <p>Genre: <%= @artists.art_movement() %></p>


<div class = "center-content"><% for artwork in @artists.artworks %>
<img class="image_size" src="<%= artwork.image() %>">
<% end %>
</div>
