
<br>
<div class="center-button"><h1><%= @artists.name() %></h1>

  <p>Born: <%= @artists.birth_year() %></p>
  <p>Genre: <%= @artists.art_movement() %></p>

<% for artwork in @artists.artworks %>
  <img class ="image-size" src="<%= artwork.image() %>">
<% end %>
</div>
