.responsive-image{
  width: 100%;
  background-size: 100% 100%;
}

p{
  font-family: gill sans;
  margin-left: 15px;
}

h1 {
  font-family: gill sans;
  font-weight: normal;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 80px;
}

body{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
 margin-bottom: auto;
 text-align: center;
 font-family: gill sans;

    /* padding-top: 90px; */ */
}
ul {
  border-bottom: 2px solid black;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-top: auto;
  margin-bottom: 0;
  text-align: left;
}

.nav {
  display: block;
  background-color: white;
  opacity:0.4;
  position: fixed;
  width: 100%;
  top:0;
}

.nav li {
  display: inline-block;
  margin-right: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: gill sans;
  font-size: 28px;
  color: black;
  z-index: 10;

}
.nav li a {
  color: black;
  /* w */
  background-color: white;
  padding: 5px;
}
.nav a:hover {
  text-decoration: underline;
}

a {text-decoration: none;
  color: black;
  font-family: gill sans;
}

a:hover{
  text-decoration: none;
  color: DeepSkyBlue;
}
.centered {
  margin: 0 auto;
  width: min-content;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: gill sans;
}

.center-button{
  margin: 0 auto;
  width: unset;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.center-content{
  margin: 0 auto;
  text-align: center;
}
.banner-container {
  width:99%;
    background-size: 100% 100%;
    border: dotted 2px black;
    margin-top: 40px;
    margin-bottom: 40px;
}

.banner-container:hover{
  opacity: 0.7;
}


.flex-form{
  display: inline-flex;
}

.container {
display: flow-root;
flex-direction: row;
justify-content: center;
align-items: center;
align-content: space-between;
margin-bottom: 30px;
}
.item {
  flex-grow: 1;
}


input{
  margin-bottom: 10px;
  width: max-content;

}
input::placeholder {
  color: slategrey;
  font-family: gill sans;
  font-size: 16px;
}

input[type=text] {
    font-family: gill sans;
    font-size: 16px;
}

input[type=text]:focus {
    border: 2px solid skyblue;
}

.visitorbutton {
  background-color: DeepSkyBlue;
  border: 0px;
  border-radius: 25px;
  color: white;
  opacity:0.8;
  margin: 10px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.2s;

}

.visitorbutton:hover {
  background-color: lightskyblue;
  color: white;
}


.button {
  background-color: red;
  border: 0px;
  border-radius: 25px;
  color: white;
  opacity:0.8;
  margin: 10px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.2s;

}

.button:hover {
  background-color:  firebrick;
  color: white;
}

.edit-button {
  background-color: forestgreen;
  border: 0px;
  border-radius: 25px;
  color: white;
  opacity:0.8;
  margin: 10px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.2s;

}

.edit-button:hover {
  background-color:  green;
  color: white;
}

.newbutton {
  background-color:White;
  border: 0px;
  border-radius: 25px;
  color: black;
  opacity:0.8;
  margin: 10px;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
     border: 1.5px solid black;
font-family: gill sans;

}

.newbutton:hover {
  background-color: black;
  color: white;
   border: 2px solid black;
}
.black {
  background-color: #313438;
  color: #e0dddd;
}

.image_size{
  width: 50%;
    height:50%;
    opacity: 1;
    padding-bottom: 15px;

}

.image_size:hover{
opacity:0.8;
}

.image_size_other{
  width: 50%;
    height:50%;
    opacity: 1;
    padding-bottom: 15px;

}
.footer {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  color: black;
}
